AUTH_SECRET=
CLOUD_SQL_DATABASE_URL=
CORS_ORIGINS=http://localhost:5173
DATABASE_URL=
GEMINI_API_KEY=

SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJmY2RocXN6ZHhhdHppZ2Vqam5yIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODczMjk1NTgsImV4cCI6MjEwMjkwNTU1OH0.Bql1RDBqBYF2LN6Tpjr0nnhIx36nAoF8ZNPpjrg8LzI

SUPABASE_DATABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=

SUPABASE_URL=https://rfcdhqszdxatzigejjnr.supabase.co

VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJmY2RocXN6ZHhhdHppZ2Vqam5yIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODczMjk1NTgsImV4cCI6MjEwMjkwNTU1OH0.Bql1RDBqBYF2LN6Tpjr0nnhIx36nAoF8ZNPpjrg8LzI

VITE_SUPABASE_URL=https://rfcdhqszdxatzigejjnr.supabase.co